  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
     <% @post.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: 'Overtime App notification',sticky: false) %>
     <% end %>
    <% end %>
  <div class="form-group">
    <%= f.label :date, class: 'col-sm-2' %>
    <%= f.date_field :date, class: 'form-control', id: 'email' %>
  </div>
  <div class="form-group">
    <%= f.label :rationale, class: 'col-sm-2' %>
    <%= f.text_area :rationale, class: 'form-control', id: 'rationale' %>
  </div>
  <%= f.submit value: 'Save', class: 'btn btn-primary' %>
<% end %>
